


#h1-1 {
         font-size: 14px;
         float: left;
         margin-top: -40;
         margin-left: 30px;
         color: darkslategrey;
         font-family: 'Open Sans', sans-serif;
}

#h2-2 {
         font-size: 15px;
         float: right;
         margin-top: -40px;
         margin-right: 30px;
         color: darkslategrey;
}

img {
         display: block;
         margin: auto;
         height: 40px;
}

#h1-3 {
         text-align: center;
         color: black;
         font-size: 50px;
         font-family: Agency FB;
         font-weight: lighter;
}

hr {
         margin-top: 60px;
}

#jumbo1 {
         margin-top: 50px;
         height: 340px;
         border-bottom: 7px solid #a78f68;
         background: rgba(0,0,0,.7);
}

#welltab {
         width: 850px;
         display: block;
         margin: auto;
         margin-top: -80px;
         background: white;
         /*    border: 1px solid black;*/
         border: none;
         border-radius: 0px;
         height: 75px;
         border-top: 5px solid #a78f68;
         
     z-index: 4; position:relative;
         
}

#link {
         font-family: 'Exo', sans-serif;
         text-decoration: none;
         color: darkslategrey;
         padding-right: 10px;
         padding-left: 10px;
}

#link:hover {
         color: #a78f68;
         font-weight: 600;
}

#link2 {
         font-family: 'Exo', sans-serif;
         color: burlywood;
         font-weight:800;
}

#link3 {
         font-family: 'Exo', sans-serif;
         text-decoration: none;
         color: darkslategray;
         font-family: verdana;
         font-weight: 400;
}

#search {
         display: block;
         margin:auto;
}

#h1-4 {
         color: lightgrey;
         font-size: 36px;
         font-family: 'Exo', sans-serif;
         z-index: 2; position:relative;
         padding-top: 30;
         font-weight: 200;
}

#pinjumbo {
color: floralwhite;
font-family: 'Exo', sans-serif;
font-size: 24px;
margin-bottom: 10px;
         text-align: left;
         display: block;
         margin: auto;
         padding-top: 15;
         width: 500px;
         margin-left: 10;
         
}

#learnbutton {
  
         border: 1px solid lightgrey;
         width: 155px;
         height: 50px;
         background-color: #a78f68;
         color: floralwhite;
         font-size: 20px;
         text-align: center;
         line-height: 2.3;
         font-family: Arial Narrow;
         

         display: block;
         margin: auto;
         margin-left: 10px;
         margin-top: 20px;
}

#learnbutton:hover {

         transition: 1s;
         border: 1px solid lightslategrey;
         width: 155px;
         height: 50px;
         background-color: #a78f68;
         color: gainsboro;
         font-size: 20px;
         text-align: center;
         line-height: 2.3;
         font-family: Arial Narrow;
         margin-top: 20px;
         
}


#divinjumbo{
         margin-left: 50;
}




/*.verticalLine {
border-left: 1px solid lightgrey;
         margin-left: 670;
         margin-top: -267;
         height: 360px;
         z-index: 2; position:relative;
}*/



/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    float: right;
    margin-top: -269px;  
    padding: 0;
    width:185px;
    list-style-type: none;
    border: 1px solid lightgrey;
     z-index: 2; position:relative;
    
}

.menu_simple ul li a {
    text-decoration: none;
    color: floralwhite; 
    padding: 10.8px 11px;
    background-color: #a78f83;
    display:block;
    border-bottom: 1px solid lightgrey;
    line-height: 2;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    height: 56.8;   
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #a78f68;
    transition: 1s;
}

.small-text {
text-align: center;
border-radius: 30px;
height: 250px;
width: 650px;
margin-top: -370px;
display: block;
margin: auto;
margin-top: -370;
 z-index: 2; position:relative;

}

#arrow-img {
margin-top: -28px;
margin-left: 340;
width: 25px;
height: 25px;
border-radius: 60px;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.180), 
      rgba(0, 0, 0, 0.180)
    );
}

#arrow-img:hover {
margin-top: -28px;
margin-left: 340;
width: 25px;
height: 25px;
border-radius: 60px;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 200, 500, 0.200), 
      rgba(255, 200, 500, 0.180)
    );
}

#media-icons {

height: 60px;
width: 40px;
z-index: 4; position:relative;
padding-top: 20px;
         
}

#media-icons:hover {

height: 60px;
width: 40px;
z-index: 4; position:relative;
padding-top: 20px;
border-radius: 50000000px;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.380), 
      rgba(0, 0, 0, 0.380)
    );
}

#media-div {
float: left;
margin-left: 50px;
margin-top: -230px;
}

#in-well-title {
         text-align: center;
         font-family: 'Exo', sans-serif;
         font-size: 40px;
         margin-top: -10px;
         color: black;
         font-weight: 300;
         border-bottom: 1px solid lightgrey;
         width: 520px;
         display: block;
         margin: auto;
         margin-top: -10px;
}

#thumbnail-img {
height: 202px;
width: 200px;
border-radius: 30px;
padding-top: 5px;

}

.thumbnail {
border-radius: 30px;
border: 1px solid lightgrey;
float: inherit;
display: block;
margin: auto;
margin-left: 320px;
width: 242px;
max-width: 402px;
margin-top: 40px;
         
}

h3 {
font-family: 'Exo', sans-serif;
         text-align: center;
         color: black;
         font-size: 40px;
}


