#h1-1 {
         font-size: 14px;
         float: left;
         margin-top: -40;
         margin-left: 30px;
         color: darkslategrey;
         font-family: 'Open Sans', sans-serif;
}

#h2-2 {
         font-size: 15px;
         float: right;
         margin-top: -40px;
         margin-right: 30px;
         color: darkslategrey;
}

img {
         display: block;
         margin: auto;
         height: 40px;
}

#h1-3 {
         text-align: center;
         color: black;
         font-size: 50px;
         font-family: Agency FB;
         font-weight: lighter;
}

hr {
         margin-top: 60px;
}

#jumbo1 {
         margin-top: 50px;
         height: 340px;
         border-bottom: 1px solid #a78f68;
         background-image: url("http://www.combatvieira.com.br/imagens/bg.jpg");
}

#welltab {
         width: 850px;
         display: block;
         margin: auto;
         margin-top: -40px;
         background: white;
         /*    border: 1px solid black;*/
         border: none;
         border-radius: 20px;
         height: 275px;
}

#link {
         text-decoration: none;
         color: darkslategrey;
         padding-right: 10px;
         padding-left: 10px;
}

#link:hover {
         color: #a78f68;
         transition-delay: .3s;
}

#link2 {
         color: burlywood;
}

#link3 {
         text-decoration: none;
         color: darkslategray;
         font-family: verdana;
         font-weight: 400;
}

#search {
         display: block;
         margin:auto;
}

#h1-4 {
         font-size: 40px;
         color: floralwhite;
         font-family: Agency FB;
         margin-top: -10px;
}

#pinjumbo {
color: floralwhite;
font-family: Cambria;
width: 500px;
}

#learnbutton {
  
         border: 1px solid lightgrey;
         width: 175px;
         height: 50px;
         background-color: #a78f68;
         color: floralwhite;
         font-size: 20px;
         text-align: center;
         line-height: 2.3;
         font-family: Arial Narrow;
         margin-top: 15px;
         margin-left: 100px;
}

#learnbutton:hover {

         transition: 1s;
         border: 1px solid lightslategrey;
         width: 175px;
         height: 50px;
         background-color: rosybrown;
         color: gainsboro;
         font-size: 20px;
         text-align: center;
         line-height: 2.3;
         font-family: Arial Narrow;
         margin-top: 15px;
         
}


#divinjumbo{
         margin-left: 50;
}

#link-6 {
         text-decoration: none;
         color: lightgrey;
         font-size: 30px;
         
}


.verticalLine {
    border-left: thin solid floralwhite;
         margin-left: 570;
         margin-top: -250;
         height: 350px;
}